
body{
    margin:0;
}

.image
{
    height:500px;
    width:300px;
    margin:20px;

}

.relative-img
{
    position:relative;
    top:10px;
    bottom:0px;
}

/* .absolute-image
{
    position:absolute;
    top:0px;
    bottom:px;

} */
